* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    flex-direction: column;
    height: 100%;
    width: 40px;
    top: 0;
    left: 0;
    position: fixed;
    y-index: 100;
    padding: 20px 8%;
    background-color:  #354656
  ;
  }

  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;

  }

  .logo2 {
    position: fixed;
    top: 4px;
    left: 60px;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    display: flex;

    justify-content: flex-start;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }

  .link1::before{
    white-space: normal;
    content: url("../images/ticketicon.svg");
    margin-left: 4px;

  } .link2::before{
    content: url("../images/metricsicon.svg");
    margin-left: 4px;

  } .link3::before{
    content: url("../images/accountsicon.svg");
    margin-left: 4px;

  } .link4::before{
    content: url("../images/settingsicon.svg");
    margin-left: 4px;

  }
  
  .nav__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 300px;

    position: fixed;
    top: 100px;
    left: 0px;

    z-index: 9999;
    padding: 9px 17px;

  }
  
  .nav__links li {
    padding: 30px 20px;
    padding-left: 1px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    position: fixed;
    bottom: 50px;
    left: 10px;

    z-index: 9999;
    padding: 9px 17px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }


  .cta:before {
    content: url("../images/logouticon.svg");


  }

  .cta:hover {
    background-color: hsla(180, 100%, 40%, 0.5);
  }

  .cta:focus {
    background-color: hsla(180, 100%, 40%, 1);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
